language: go
go_import_path: https://github.com/dappledger/AnnChain
sudo: false
jobs:
  include:
    - stage: build
      os: linux
      go: 1.12.5
      before_install:
        - curl https://dl.google.com/go/go1.12.5.linux-amd64.tar.gz | tar -xz
        - mkdir $HOME/.gopkgs
        - export PATH=`pwd`/go/bin:$PATH
        - export GOROOT=`pwd`/go
        - export GOPATH=$HOME/.gopkgs
      before_script:
        - ./get_pkgs.sh
        - make
      script:
        - make test
        - go test ./gemmill/... -coverprofile=coverage.txt -covermode=atomic
      after_success:
        - bash <(curl -s https://codecov.io/bash)
