@font-face {
    font-family: 'iconfont';  /* project id 596117 */
    src: url('//at.alicdn.com/t/font_596117_r9zw9p1om0lik9.eot');
    src: url('//at.alicdn.com/t/font_596117_r9zw9p1om0lik9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_596117_r9zw9p1om0lik9.woff') format('woff'),
    url('//at.alicdn.com/t/font_596117_r9zw9p1om0lik9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_596117_r9zw9p1om0lik9.svg#iconfont') format('svg');
  }

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i.icon-event:before {
    content: '\e61f';
}

i.icon-right-arrow:before {
    content: '\e620';
    color: #99a9bf;
}

i.icon-organization:before {
    content: '\e621';
}

i.icon-evm:before {
    content: '\e622';
}

i.icon-nodeinfo:before {
    content: '\e623';
}

i.icon-special:before {
    content: '\e624';
}

i.icon-sign:before {
    content: '\e625';
}

i.icon-nodesop:before {
    content: '\e626';
}

i.icon-nav:before {
    content: '\e61b';
}

i.icon-dot:before {
    content: '\e63f';
}

i.anticon-cross-circle:before {
    content: '\e664';
}

i.anticon-check-circle:before {
    content: '\e767';
}

i.anticon-info-circle:before {
    content: '\e67d';
}